# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# User Configuration (BARDZO WAŻNE)
config.json

# Build artifacts
build/
dist/
*.spec

# Distribution files
*.exe
*.AppImage
