[Desktop Entry]
Type=Application
Name=BookSummarizer
Comment=Elite Knowledge Engine
Exec=BookSummarizer
Icon=logo
Categories=Utility;Education;
Terminal=false
