[Desktop Entry]
Type=Application
Name=OutThink
Comment=The Personal Knowledge Engine
Exec=OutThink
Icon=logo
Categories=Utility;Education;
Terminal=false
StartupWMClass=OutThink
