[Desktop Entry]
Type=Application
Name=OutThink
Comment=Architect Edition Knowledge Engine
Exec=OutThink
Icon=logo
Categories=Utility;Education;
Terminal=false
